*.code-workspace
fw
rootdir-*
*.img
utilsbin
fs
config
output-*
i386-pc.h
x86_64-pc.h
riscv64-virt.h
.vscode
cross
images-*
build-*
serial.txt
bochs.log
*.ini
.VSCodeCounter
scripts/scripts-*.cfg
include/ver.h
*.tar.gz
