# nexnix.cfg - contains NexNix build configuration data
# Distributed with NexNix, licensed under the MIT license
# See LICENSE

# This controls global defaults
[GLOBAL]
ARCHS    :"x86_64-pc i686-pc riscv64-virtio mips-malta aarch64-raspi3"
MACHS    :"x86_64 i686 riscv64 aarch64"
PROJECTS :""
CFLAGS   :"--sysroot=$GLOBAL_PREFIX --isystem=/usr/include"
CROSS    :"$PWD/cross"
[END]
